# B4nan test config file

application:
	scanDirs: false

di:
	accessors: true

extensions:
	bargencyForms: B4nan\Forms\DI\FormsExtension


bargencyForms:
	renderer: B4nan\Forms\Renderer
	macros: B4nan\Forms\FormMacros
	renderColonSuffix: FALSE
